# Use the small version of FastAPI and the server
fastapi
uvicorn
python-multipart

# Slimmed down ML libraries
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
python-multipart
torchvision==0.17.0+cpu
tensorflow-cpu==2.15.0

# Helpers
numpy
joblib
pillow
pydantic

